<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body th:border="1">
<h1>New User</h1>
<form method="post" th:action="@{/saveUser}" th:object="${user}">
    <input type="hidden" th:field="*{id}"/>
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br><br>
    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br><br>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br><br>
    <input type="submit" value="OK"/>
</form>
</body>
</html>